# generated js files
/tests/**/*.js
/tests/**/*.js.map

# node-waf configuration
.lock-wscript

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# Bower
bower_components

# IntelliJ
.idea
*.iml
/typings/
